.hero h1 {
    margin: 0;
    padding: 0;
}

.hero {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.hero main{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 90%;
}

.hero aside h1 {
    text-align: center;
}

.hero-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    flex-grow: 1;
    height: 100%;
    width: 55%;
}

.hero-icons{
    height: 10%;
    padding-top: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.hero-icons .icon, .cv {
    width: 70px;
    height: auto;
    fill: #FFFFFF;
    opacity: 50%;
    transition: fill 0.2s ease-out;
}

.icon:hover{
    fill: #FEC02F;
}

.cv {
    padding-top: 10px;
}

.image-container{
    display: flex;
    justify-content: center;
    padding-left: 25px;
    width: 45%;
}

.hero-image{
    object-fit: contain;
    min-width: 300px;
    width: 100%;
    height: auto;
}


