@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

#root {
    padding: 0;
}

body {
    margin: 0;
    background-color: #20202A;
}

section {
    height: 100vh;
    text-align: center;
    color: white;
}


.slider {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    scroll-snap-type: y mandatory;
}

.slider-element {
    scroll-snap-align: center;
    margin-left: 230px;
    padding: 0px 100px 0 100px;
    text-align: left;
}

h1, h2, h3, p {
    text-align: left;
    color: #FEC02F;
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: 60px;

}

h3, p {
    color: white;
}

